<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="https://men-sundavy.c9users.io:8080/plugin.min.js"></script>
  </head>
  <body>
  </body>
</html>